{% extends "base.html" %}

{% block content %}
    <h1>Login account</h1>
    <form action="/login" method="post">
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <br>
        <div>
            <button type="submit">Login</button>
            <a href="/register">Haven't account?</a>
        </div>
    </form>
{% endblock %}